[Unit]
Description=Apply bootc updates
Documentation=man:bootc(8)
ConditionPathExists=/run/ostree-booted

[Timer]
OnCalendar=*-*-02 08:00:00

[Install]
WantedBy=timers.target
